<li>
    <p> 
        <% if(locals.user && locals.user.id==comment.User.id){ %>
            <small><a href="/comments/deleteComment/<%= comment.id %>">X</a></small>
        <%}%>
        <%= comment.content %> <br>
        <small><%= comment.User.name %></small>
        
    </p>
</li>




