<p>Enter your email address for resetting the password</p>
<form action="/users/reset/verify_email" method="post">
    <input type="email" placeholder="email" required name="email">
    <input type="submit" value="Send me email">
</form>