<form action="/users/reset/changePassword" method="post">
    <p>    
        <label for="newpass">New password</label>
        <input type="text" id="newpass" name="password" placeholder="new password"><br>
    </p>
    <p>
        <label for="confirm">Confirm new password</label>
        <input type="text" id="conform" name="confirm_password" id="confirm" placeholder="confirm password"><br>
    </p>
    <input type="text" value="<%= locals.token %>" name="token" hidden>
    <input type="submit" value="reset password">
</form>