@import "./header";
@import "./footer";
$color:black;
$backgroundColor:rgb(149,238,171);
body{
    margin: 0px;
    font-size: 20px;
    color:$color;
    background-color:$backgroundColor;
    #layout-main{
        height: 100%;
    }
}

// .wrapper{
//     width: 700px;
//     margin: 5px auto;
//     padding: 20px;
//     background-color: rgb(62, 233, 19);
// }
